.topic{
    text-align: center;
    font-size: 1.75em;
    font-family: cursive;
    margin: 20px;
    font-weight: bolder;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    margin:15px;
    background-image: url("book4.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont{
    margin: 15px 15px 15px 15px;    
    border: 1px solid black;
    background-color: antiquewhite;
    height: 200px;
    
}
.names1, .names2, .names3{
    float: right;
    margin: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 40%;
    height: 30px;
    font-family: cursive;
    text-align: center;
}
.names1{
    background-color: rgba(233, 28, 240, 0.671);
    font-size: 1.25em;
}
.names2{
    background-color: rgba(235, 34, 84, 0.733);
    font-size: 1.25em;
}
.names3{
    background-color: rgba(81, 180, 219, 0.664);
    font-size: 1.25em;
}
.text{
    clear: right;
    margin-left:35px;
}
@media (min-width: 992px)
{
    .column1{
        float: left;
        width: 33.33%;
    }
    .column2{
        float: left;
        width: 33.33%;
    }
    .column3{
        float: left;
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .column1{
        float: left;
        width: 50%;
    }
    .column2{
        float: left;
        width: 50%;
    }
    .column3{
        float: left;
        width: 100%;
    }
}
@media (max-width: 767px)
{
    .column1{
        float: left;
        width: 100%;
    }
    .column2{
        float: left;
        width: 100%;
    }
    .column3{
        float: left;
        width: 100%;
    }